@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel
<div class="text-center">
    <h1 class="display-4">Welcome to Dojo Activity Center</h1>
</div>
<div class="container">
    <partial name="registrationPartial" />
    <partial name="loginPartial" />
</div>







